<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/add" method="POST">
    p>En este proyecto se utilizo dos patrones, el adaptador el cual nos permitio utlizar ciertos tipos de
           datos como json, como tambien el decorador el cual nos hizo posible utilizar funciones junto con otras 
           funciones, lo cual nos ahorro codigo.
       </p>
    
    <button type="submit">Guardar</button>
</form> 
</body>
</html>
